$white:             #FFFFFF;   
$color-1:           #003773;
$color-2:           #cf671a;
$color-3:           #a1a1a1;

$galaxy:        1140px;
$solarsystem:   1024px;
$interstellar:  800px;
$planetary:     520px;


$fam-body:          'Open Sans', sans-serif;
$fam-heading:       $fam-body;


.one-column-content {
	text-align: center;
	padding: 60px 0;
}